html {
    scroll-behavior: smooth !important;
}

ul li {
    margin-left: -1rem;
}

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        width: 75%;
    }
}

.previewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    overflow: auto;
    max-height: 150px;
}

.previewContainer div {
    position: relative;
    display: inline-block;
}

.previewContainer img {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.previewContainer button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 12px;
}